.videomodal
{
    display:none;
    position: fixed;
    z-index: 1000;
    justify-content: center;
    align-content: center;
    left: 10%;
    margin-top: 5%;
    width: 75%;
    height: 90%;
    background-color: rgb(217, 255, 4);
    opacity: 1;
    border-radius: 2%;

}
.videoControl
{
    
    width: auto;
    height: auto;
}

.Btn_video{
    color: aliceblue;
    cursor: pointer;
}
